body, 
html {
    margin: 0;
    padding: 0;
    font: normal 14px bebasff, Helvetica, arial;
    color:#000;
    font-smooth:always;
	-webkit-font-smoothing: antialiased;
	background: #f2f4f8;
} 
a,
.tim .player {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  text-decoration: none;
}
.body_pop {
	background: #fff;
}
.close_box_style {
	background: #26c281;
	color: #fff;
	font-size: 26px;
	font-weight: bold;
	font-family: helvetica, arial;
	padding: 5px 14px;
}
.close_box_style:hover {
	background: #159a78;
}
.container2 {
	padding: 15px;
	width: 1000px;
	margin: 0 auto;
}
#header {
	background-size: 30px;
	background-color: #26c281;
	color: #fff;
	height: 60px;
	overflow: hidden;
}
#header .logo {
	display: inline-block;
	padding: 10px 20px;
	font-size: 32px;
	height: 35px;
}
#header .logo img {
	height: 100%;
}
#header .logo_center {
	position: absolute;
	height: 35px;
	padding: 15px;
	left:calc(50% - 30px);
	opacity: 0.7;
}
#header .logo_center img {
	height: 100%;
}
#header .logo_center:hover {
	opacity: 1;
}
#header #nav {
	float: right;
}
#header #nav a {
	padding: 15px 20px;
	font-size: 26px;
	display: inline-block;
	color: #fff;
	text-decoration: none;
}
#header #nav a:hover {
	background: #159a78;
}
.btn_create {
	display: inline-block;
	margin: 0 auto;
	color: #0c795d;
	border:1px solid #0c795d;
	padding: 5px 10px;
	font-size: 22px;
	text-decoration: none;
	margin-top: 10px;
	font-family: bebasff, Helvetica, arial;
	background: #fff;
}
.btn_create:hover {
	background: #159a78;
	color: #fff;
}
.btn_save {
	display: inline-block;
	margin: 0 auto;
	color: #fff;
	border: 1px solid #000;
	padding: 10px 20px;
	font-size: 18px;
	text-decoration: none;
	margin-top: 10px;
	font-family: bebasff, Helvetica, arial;
	background: #000;
	cursor: pointer;
}
.btn_embed {
	color: #000;
	border: 1px solid #000;
	background: #fff;
}

/*S:POP*/
.title_pop {
	color: #0c6d54;
	font-size: 38px;
	text-align: center;
}
.nav_project a {
	display: block;
	width: 130px;
	height: 130px;
	padding: 15px;
	background: #d2efe8;
	text-align: center;
	margin: 5px;
	float: left;
	color: #000;
	font-size: 24px;
	position: relative;
	overflow: hidden;
}
.nav_project a:hover {
	background: #27d4a8;
}
.nav_project a strong {
	font-weight: normal;
}
.nav_project .disabled {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
	background: rgba(0,0,0,0.6);
	color: #fff;
}
.nav_project .disabled span {
	display: inline-block;
	margin-top: 60px;
	border:1px solid #fff;
	padding: 5px;
}
/*E:POP*/


.page_title {
	background: #fff;
	padding: 10px;
	height: 55px;
	color: #0c795d
}
.page_title span {
	font-size: 32px;
	display: inline-block;
	padding: 10px 10px;
}

/*S:DASHBOARD*/
.list_project {
	list-style: none;
	padding: 0;
	margin: 0;
}
.list_project li {
	width: 150px;
	height: 150px;
	background: #fff;
	margin: 10px;
	text-align: center;
	padding: 10px;
	position: relative;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0px 0px 2px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         0px 0px 2px 0px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	float: left;
}
.list_project li:hover {
	cursor: pointer;
}
.list_project li .icon {
	margin: 5px;
	background: #26c281;
	width: 80px;
	height: 80px;
	line-height: 80px;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	margin-bottom: 10px;
	font-size: 32px;
}
.list_project li .title {
	height: 50px;
	font-size: 20px;
	color: #2b2b2b;
}
.list_project li .title span {
	display: block;
	border-top: 1px solid #ccc;
	margin-top: 3px;
	padding-top: 3px;
}
.list_project li .float {
	width: 100%;
	height: 0%;
	background: rgba(0,0,0,0.4);
	position: absolute;
	bottom: 0;
	left: 0;
	border-radius: 3px;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	text-decoration: none;
	overflow: hidden;
}
.list_project li .float a {
	display: inline-block;
	width: 30px;
	height: 30px;
	overflow: hidden;
	padding: 5px;
	background: rgba(0,0,0,0.5);
	border-radius: 3px;
	margin-top: 65px;
}
.list_project li .float a:hover {
	background: rgba(0,0,0,0.9);
}
.list_project li .float a img {
	height: 100%;
}
.list_project li:hover .float {
	height: 100%;
}
/*E:DASHBOARD*/


/*s:formasi*/
.option {
	background: #21500c;
	padding: 10px 15px;
	height: 90px;
	color:#fff;
}
.select_pitch{
	float: left;
	width: 300px;
}
.select_pitch a {
	display: block;
	width: 75px;
	height: 75px;
	overflow: hidden;
	margin-right: 5px;
	border:3px solid #000;
	margin-bottom: 5px;
}
.select_pitch a img {
	width: 100%;
}
.select_pitch a.selected,
.select_formation a.selected {
	border-color: #fff;
}
.select_pitch a:hover,
.select_formation a:hover {
	border-color: #c2c2c2;
	cursor: pointer;
}
.select_formation {
	float: left;
	margin-right: 30px;
}
.select_formation a {
	float: left;
	background: #26c281;
	color: #fff;
	text-align: center;
	width: 90px;
	height: 50px;
	border:3px solid #000;
	margin-right: 5px;
	font-size: 18px;
	line-height: 50px;
	vertical-align: middle;
	margin-bottom: 10px;
}
.select_formation_match {
	display: inline-block;
	width: 350px;
	margin: 0 auto;
}
.select_formation_match span {
	float: left;
	width: 100px;
	text-align: right;
	line-height: 45px;
}
.select_formation_match span:last-child {
	text-align: left;
}
.select_formation_match .match_select {
	border: 3px solid #fff;
	width: 100px;
	height: 35px;
	border-radius: 50px;
	float: left;
	margin: 0 10px;
	position: relative;
}
.select_formation_match .match_select span {
	width: 35px;
	height: 35px;
	background: #26c281;
	display: inline-block;
	border-radius: 100%;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	float: left;
}
.select_formation_match_select .match_select {
	background: #26c281;
}
.select_formation_match_select .match_select span {
	background: #fff;
	float: right;
}

.formasi {
	font-size: 18px;
}

.tim_left {
	float: left;
	width: calc(50% - 370px);
	padding-right:15px;
	min-height: 200px;
	display: none;
}
.tim_right {
	float: right;
	padding-right:0;
	padding-left: 15px;
	display: none;
}
.tim_left strong {
	font-size: 22px;
	color: #8d8d8d;
	display: block;
	font-weight: normal;
	margin-top: 10px;
}
.formasi_area {
	width: 100%;
	float: left;
	min-height: 500px;
	overflow: hidden;
}
.formasi_area .tim_nama {
	background: #192903;
	color: #fff;
	padding: 15px 20px;
}
.formasi_area .tim_nama .tim_color {
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 27px;
	border-radius: 100%;
}
.formasi_area .tim_nama .tim_color2 {
	float: right;
}
.formasi_area .tim_nama .tim_color  input {
	height: 40px;
	width: 40px;
	border: 2px solid #fff;
}
.formasi_area .tim_nama .tim_color .simpleColorDisplay {
	height: 40px !important;
	width: 40px !important;
	border-radius: 100%;
	overflow: hidden;
	border: 4px solid #fff !important;

}
.formasi_area .tim_nama .tim_color2 .simpleColorDisplay {
	margin-left: 10px;
}
.tim_color .simpleColorChooser {
	left: 50px !important;
}
.tim_color2 .simpleColorChooser {
	left: -280px !important;
}
.tim_nama .input_nama_tim {
	border:0;
	border-bottom: 1px solid rgba(255,255,255,0.3);
	width: calc(50% - 135px);
	font-family: bebasff, Helvetica, arial;
	font-size: 36px;
	outline: none;
	background: none;
	float: left;
	color: #fff;
	margin: 0 5px;
}
.tim_nama .input_nama_coach {
	border:0;
	border-bottom: 1px solid rgba(255,255,255,0.3);
	width: 350px;
	font-family: bebasff, Helvetica, arial;
	font-size: 18px;
	outline: none;
	background: none;
	float: left;
	color: #fff;
	margin-left: 72px;
	position: relative;
	top: -15px;
	float: left;
}
.tim_nama .input_nama_coach2 {
	width: 350px;
	float: right;
	text-align: right;
	margin-left: 0;
	margin-right: 72px;
}
.tim_nama .input_nama_tim2 {
	text-align: right;
}
.tim_nama .vs {
	height: 57px;
	width: 70px;
	background: #ffea00;
	color: #000;
	float: left;
	line-height: 50px;
	padding-top: 13px;
	font-size: 36px;
	text-align: center;
	margin: 0 20px;
	border-radius: 100%;
}
.formasi_area .info_team {
	background: #153902;
	color: #fff;
	padding: 10px 25px;
	border-top: 1px solid #153902;
	text-align: center;
}
.pitch {
	width: 960px;
	height: 500px;
	background: url(../img/pitch.jpg) repeat-x top;
	padding: 20px 20px;
	color: #fff;
}
.pitch .tboard{
	width: 670px;
	margin: 0 auto;
}
.pitch .tboard .tboard1 {
	float: left;
	margin: 0 30px;
	position: relative;
}
.pitch .tboard .tboard1:hover .tboard_change {
	display: block;
}
.pitch .tboard .tboard1 .tboard_change {
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	width: 280px;
	display: none;
	-webkit-transition: all 0.15s;
	-moz-transition: all 0.15s;
	-o-transition: all 0.15s;
	transition: all 0.15s;
	
}
.pitch .tboard .tboard1 .tboard_change a {
	color: #fff;
	background: rgba(0,0,0,0.8);
	border:1px solid #fff;
	padding: 5px 20px;
	font-size: 15px;
	margin-top: 5px;
	display: inline-block;
}

.pitch .line {
	background: url(../img/pitch_line.png) no-repeat;
	width: 670px;
	height: 385px;
}
.pitch .pitch_left {
	float: left;
	width: 140px;
}
.pitch .pitch_right {
	float: right;
	width: 100px;
	text-align: left;
	position: relative;
	z-index: 10;
}


.pitch #pitch_pattern {
	width: 665px;
	height: 380px;
	position: absolute;
	left: 2px;
	top: 0;
	
}
.pitch .pitch_pattern .pitch1 {
}
.pitch .pitch2 {
	background: url(../img/pitch2.png);
}
.pitch .pitch3 {
	background: url(../img/pitch3.png);
	background-size: 95px;
}
.pitch .pitch4 {
	background: url(../img/pitch4.png);
	background-size: 95px;
}

.styled-select {
	display:inline-block;   
	height: 33px;
	overflow: hidden;
	background: url(../img/arrow_down.png) no-repeat right; 
	background-size: 25px;
	width: 100%;
	border: 1px solid #ccc;
	margin-top: 5px;
	/*width: 240px; */
}
.styled-select select {
   background: transparent;  
   height: 33px;
   padding: 5px 5px 5px 8px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0; 
   -webkit-appearance: none;
   cursor:pointer;
   font-family: bebasff, Helvetica, arial;
   margin-right:-18px;
   border:none;  
   width: 100%;
   color: #fff;
   /*width: 268px;*/
}
.styled-select select option {
	background:#fff;
	color:#333; 
}
.tim_left .input_1,
.input_1 {
	height: 25px;
	padding: 5px;
	background: #fff;
	font-family: bebasff, Helvetica, arial;
	color: #464646;
	font-size: 16px;
	border: 1px solid #ccc;
	width: calc(100% - 10px);
}
.input_file {
	height: 35px;
}
.simpleColorDisplay {
	width: 96% !important;
	border: 0 !important;
	padding: 5px;
}
.simpleColorChooser {
	z-index: 999;
}
#player_container{
	width: 670px;
	height: 400px;
	position: relative;
	float: left;
}
.tim {
	position: absolute;
	width: 100%;
	height: 400px;
}
.tim_sub {
	position: absolute;
	height: 50px;
	width: 670px;
	bottom: -50px;
	display: none;
}
.tim_sub1 {
	float: left;
	text-align: left;
}
.tim_sub2 {
	float: right;
	text-align: right;
}
.tim .player,
.tim_sub .player{
	width: 50px;
	height: 50px;
	text-align: center;
	font-size: 12px;
	cursor: pointer;
	position: absolute;
}
.tim_sub .player {
	position: relative;
	float: left;
	width: 45px;
}
.tim .player:hover .bullet{
	opacity: 0.8;
}
.tim .player .bullet,
.tim_sub .player .bullet {
	width: 25px;
	height: 25px;
	background: red;
	border: 3px solid #000;
	border-radius: 100px;
	display: inline-block;
	text-align: center;
	position: relative;
	z-index: 999;
}
.tim2 .player .bullet,
.tim_sub2 .player .bullet {
	background: #fff;
	border-color: black;
}
.tim .player .bullet span,
.tim_sub .player .bullet span {
	display: inline-block;
	height: 25px;
	line-height: 25px;
	font-size: 15px;
}
.tim .player strong,
.tim_sub .player strong {
	display: block;
	text-align: center;
	font-weight: normal;
	clear: both;
	font-size: 15px;
	color: #fff;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
	height: 20px;
}
.pop_name {
	background: #fff;
	padding: 5px;
	width: 200px;
	position: absolute;
	bottom: 60px;
	left: 5px;
	height: 27px;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0px 1px 5px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         0px 1px 5px 0px rgba(0, 0, 0, 0.2);
	z-index: 999999;
	display: none;
}
.pop_name_show {
	display: block !important;
}
.pop_name .pno {
	float: left;
	width: 15px;
	padding: 5px;
	border: 0;
	font: normal 14px bebasff, Helvetica, arial;
	border-bottom:1px solid #ccc; 
	margin-right: 5px;
	text-align: center;
	outline: none;
}
.pop_name .pname {
	float: left;
	width: 130px;
	padding: 5px;
	border: 0;
	font: normal 14px bebasff, Helvetica, arial;
	border-bottom:1px solid #ccc;
	outline: none;
}
.pop_name .psub {
	width: 30px;
	float: left;
	background: #82cc00;
	color: #fff;
	font-weight: bold;
	border:0;
	padding: 4px 0 3px;
	text-align: center;
	cursor: pointer;
}
.pop_name .arrow {
	position: absolute;
	bottom: -10px;
	left: 10px;

}


/*.tim .player:nth-child(1){
	left: 0;
	top: 43%;
}
.tim .player:nth-child(2),
.tim .player:nth-child(3),
.tim .player:nth-child(4),
.tim .player:nth-child(5){
	left: 10%;
	top: 10%;
}

.tim .player:nth-child(6),
.tim .player:nth-child(7),
.tim .player:nth-child(8),
.tim .player:nth-child(9){
	left: 23%;
	top: 10%;
}
.tim .player:nth-child(3),
.tim .player:nth-child(7),
.tim .player:nth-child(10){
	top: 30%;
}
.tim .player:nth-child(4),
.tim .player:nth-child(8),
.tim .player:nth-child(11){
	top: 55%;
}
.tim .player:nth-child(5),
.tim .player:nth-child(9){
	top: 75%;
}
.tim .player:nth-child(10),
.tim .player:nth-child(11){
	left: 37%;
}
.tim2 .player:nth-child(1) {
	left: 92%;
}
.tim2 .player:nth-child(2),
.tim2 .player:nth-child(3),
.tim2 .player:nth-child(4),
.tim2 .player:nth-child(5){
	left: 83%;
}
.tim2 .player:nth-child(6),
.tim2 .player:nth-child(7),
.tim2 .player:nth-child(8),
.tim2 .player:nth-child(9){
	left: 69%;
}
.tim2 .player:nth-child(10),
.tim2 .player:nth-child(11){
	left: 54%;
}*/

.tim_player_area {
	background: none;
	padding-top: 20px;
}
.tim_player .pno{
	border: 0;
	background: none;
	border-bottom: 1px solid #acacac;
	float: left;
	width: 30px;
	margin-right: 5px;
	padding: 3px 5px 0 5px;
	font-family: bebasff, Helvetica, arial;
	text-align: center;
	outline: none;
	font-size: 18px;
}
.tim_player .pname{
	border: 0;
	background: none;
	border-bottom: 1px solid #acacac;
	float: left;
	width: calc(100% - 60px);
	margin-right: 5px;
	padding: 3px 5px 0 5px;
	font-family: bebasff, Helvetica, arial;
	outline: none;
	font-size: 18px;
}

.ac_results {
	padding: 0px;
	border: 0px solid #ccc;
	overflow: hidden;
  	background-color: #fff;
  	z-index: 3;
  	width: calc(50% - 100px);
  	font-family: bebasff, Helvetica, arial;
  	-webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    1px 1px 5px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         1px 1px 5px 0px rgba(0, 0, 0, 0.2);
	position: fixed !important;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results iframe {
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	filter:mask();
	width:3000px;
	height:3000px;
  
}

.ac_results li {
	margin: 0px;
	padding: 8px 13px;
	cursor: pointer;
	display: block;
	width: 100%;
	font: menu;
	font-size: 22px;
	overflow: hidden;
	color: #525252;
	font-family: bebasff, Helvetica, arial;
  
}

.ac_loading {
	background : #AFD2FD url('img/loader.gif') right center no-repeat;
}
.ac_over {
	background-color: #e6e6e6;
	color: black;
}

/*e:formasi*/
