@font-face { 
	font-family: bebasff; 
	src: url('../fonts/BebasNeue.otf'); 
} 
@font-face { 
	font-family: bpl; 
	src: url('../fonts/Barclays Premier League.ttf'); 
} 
@font-face { 
	font-family: ff; 
	src: url('../fonts/2B9F9E_5_0.ttf'); 
	font-weight: normal;
} 
@font-face { 
	font-family: ff; 
	src: url('../fonts/2B9F9E_1_0.ttf'); 
	font-weight: bold;
} 
@font-face { 
	font-family: futuraff; 
	src: url('../fonts/Futura Bold BT.ttf'); 
	font-weight: bold;
} 
@font-face {
    font-family: ffOpenSans;
    src: url('../fonts/OpenSans-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: ffOpenSans;
    src: url('../fonts/OpenSans-Semibold.ttf');
    font-weight: bold;
}