/*modal box*/
body {
	margin: 0;
    padding: 0;
    font: normal 14px ff, Helvetica, arial;
    color:#000;
    font-smooth:always;
	-webkit-font-smoothing: antialiased;
}
.pop_bg {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.7);
	z-index: 0;
}
.pop_container {
	margin: 0 auto;
	width: 600px;
	position: absolute;
	z-index: 3;
	top: 0;
	left: 50%;
	margin-left: -300px;
	-webkit-animation: move_bot 0.5s; /* Chrome, Safari, Opera */
    animation: move_bot 0.5s;
}
.pop_container650 {
	width: 650px;
	margin-left: -325px;
}
#pop_wrap {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
}
/*s:animate*/
@-webkit-keyframes move_bot {
    from {top:100%;}
}
/*e:animate*/

/*S:POP*/
.title_pop {
	color: #0c6d54;
	font-size: 26px;
	text-align: center;
}
.nav_project a {
	display: block;
	width: calc(33% - 42px);
	height: 130px;
	padding: 15px;
	background: #f4f4f4;
	text-align: center;
	margin: 5px;
	float: left;
	color: #000;
	font-size: 18px;
	position: relative;
	overflow: hidden;
	text-decoration: none;
}
.nav_project a:hover {
	background: #27d4a8;
}
.nav_project a strong {
	font-weight: normal;
}
.nav_project .disabled {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
	background: rgba(0,0,0,0.6);
	color: #fff;
}
.nav_project .disabled span {
	display: inline-block;
	margin-top: 60px;
	border:1px solid #fff;
	padding: 5px;
}
/*E:POP*/
/*s:close*/
.close_box_style {
	background: #26c281;
	color: #fff;
	font-size: 26px;
	font-weight: bold;
	font-family: helvetica, arial;
	padding: 5px 14px;
}
.close_box_style:hover {
	background: #159a78;
}
/*e:close*/


.btn_create {
	display: inline-block;
	margin: 0 auto;
	color: #0c795d;
	border:1px solid #0c795d;
	padding: 8px 20px;
	font-size: 15px;
	text-decoration: none;
	margin-top: 10px;
	font-family: ff, Helvetica, arial;
	background: #fff;
}
.btn_create2 {
	display: inline-block;
	margin: 0 auto;
	color: #fff;
	border:1px solid #0c795d;
	padding: 8px 20px;
	font-size: 15px;
	text-decoration: none;
	margin-top: 10px;
	font-family: ff, Helvetica, arial;
	background: #159a78;
}
.btn_create:hover {
	background: #159a78;
	color: #fff;
	cursor: pointer;
}
.btn_save {
	display: inline-block;
	margin: 0 auto;
	color: #fff;
	border: 1px solid #000;
	padding: 10px 20px;
	font-size: 18px;
	text-decoration: none;
	margin-top: 10px;
	font-family: bebasff, Helvetica, arial;
	background: #000;
	cursor: pointer;
}
.btn_create2:hover {
	opacity: 0.8;
	cursor: pointer;
}
.btn_embed {
	color: #000;
	border: 1px solid #000;
	background: #fff;
}
.input100 {
	display: block;
	border: 0;
	background: #f3f3f3;
	border: 1px solid rgba(0,0,0,0.1);
	margin-top: 3px;
	margin-bottom: 5px;
	width: calc(100% - 20px);
	font-family: ff, helvetica, arial;
	font-size: 15px;
	color: #5d5c5c;
	padding: 15px 10px;
	resize: none;
}
.embed_info {
	position: relative;
}
.embed_info .input100 {
	float: left;
	width: 77%;
	height: 40px;
	margin: 0;
}
.embed_info .btn_create2 {
	float: right;
	margin: 0;
}
.notif_copy {
	padding: 10px;
	background: #26c281;
	color: #fff;
	font-size: 15px;
}


