body, 
html {
    margin: 0;
    padding: 0;
    font: normal 14px bebasff, Helvetica, arial;
    color:#000;
    font-smooth:always;
	-webkit-font-smoothing: antialiased;
	background: #f2f4f8;
	background: url(../img/pitch_tile.jpg);
}
.clearfix {
	clear: both;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}
.pitch {
	width: calc(100% - 60px);
	height: calc(100% - 20px);
	
	padding: 10px 30px;
}
.tboard .tboard1{
	width: 50%;
	float: left;
	text-align: center;
	margin-bottom: 10px;
}
.tboard .tboard1 img {
	width: 70%
}
.pitch .line {
    width: calc(100% - 20px);
    margin: 0 10px;
    padding-top: 56.25%;
    position: relative;
}

.pitch .line .line_ratio{
	/* Positioning */
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: url(../img/pitch_line.png) no-repeat;
	background-size: 100%;
	/* Styling */
	text-align: center;
	vertical-align: center;
	text-transform: uppercase;
	color: #fff;
}

.tim {
	position: absolute;
	width: 100%;
	height: 400px;
}
.tim_sub {
	width: 100%;
	display: block;
	margin: 0 auto;
	margin-top: 15px;
}
.tim_sub1 {
	float: left;
	text-align: left;
}
.tim_sub2 {
	float: right;
	text-align: right;
}
.tim .player,
.tim_sub .player{
	width: 50px;
	height: 50px;
	text-align: center;
	font-size: 12px;
	cursor: pointer;
	position: absolute;
}
.tim_sub .player {
	position: relative;
	float: left;
	width: 45px;
}
.tim .player:hover .bullet{
	opacity: 0.8;
}
.tim .player .bullet,
.tim_sub .player .bullet {
	width: 25px;
	height: 25px;
	background: red;
	border: 3px solid #000;
	border-radius: 100px;
	display: inline-block;
	text-align: center;
	position: relative;
	z-index: 10;
}
.tim2 .player .bullet,
.tim_sub2 .player .bullet {
	background: blue;
	border-color: black;
}
.tim .player .bullet span,
.tim_sub .player .bullet span {
	display: inline-block;
	height: 25px;
	line-height: 25px;
	font-size: 15px;
	color: #fff;
}
.tim .player strong,
.tim_sub .player strong {
	display: block;
	text-align: center;
	font-weight: normal;
	clear: both;
	font-size: 12px;
	line-height: 100%;
	color: #fff;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
	height: 20px;
}
.pop_name {
	background: #fff;
	padding: 5px;
	width: 200px;
	position: absolute;
	bottom: 60px;
	left: 5px;
	height: 27px;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0px 1px 5px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         0px 1px 5px 0px rgba(0, 0, 0, 0.2);
	z-index: 14;
	display: none;
}
.pop_name_show {
	display: block !important;
}
.pop_name .pno {
	float: left;
	width: 15px;
	padding: 5px;
	border: 0;
	font: normal 14px bebasff, Helvetica, arial;
	border-bottom:1px solid #ccc; 
	margin-right: 5px;
	text-align: center;
	outline: block;
}
.pop_name .pname {
	float: left;
	width: 130px;
	padding: 5px;
	border: 0;
	font: normal 14px bebasff, Helvetica, arial;
	border-bottom:1px solid #ccc;
	outline: none;
}
.pop_name .psub {
	width: 30px;
	float: left;
	background: #82cc00;
	color: #fff;
	font-weight: bold;
	border:0;
	padding: 4px 0 3px;
	text-align: center;
	cursor: pointer;
}
.pop_name .arrow {
	position: absolute;
	bottom: -10px;
	left: 10px;

}
.view_player {
	background: #fff;
	padding: 5px;
	width: 240px;
	position: absolute;
	bottom: 60px;
	left: 5px;
	height: 60px;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:    0px 1px 5px 0px rgba(0, 0, 0, 0.4);
	box-shadow:         0px 1px 5px 0px rgba(0, 0, 0, 0.4);
	z-index: 12;
	display: none;
	color: #000;
	font-family: helvetica, arial;
	text-align: left;
}
.view_player .pic {
	width: 60px;
	height: 60px;
	float: left;
	overflow: hidden;
	margin-right: 10px;
}
.view_player .pic img {
	height: 100%;
}
.view_player h3 {
	font-size: 13px;
	font-weight: bold !important;

}
.view_player h4 {
	font-size: 12px;
	color: #003276;
	font-weight: bold  !important;
}
.view_player h5,
.view_player h6 {
	font-size: 11px;
	color: #7e7e7e;
}

#tf1 .player:nth-child(1) {
	left: 0 !important;
}
#tf2 .player:nth-child(1) {
	right: 0 !important;
}
.tim .player .ico {
	position: absolute;
	height: 25px;
	top: 3px;
	left: 45px;
	z-index: 1;
	width: 60px;
} 
.tim_sub .player .ico {
	position: relative;
	height: 25px;
	height: 25px;
	margin: 0 auto;
}
.tim .player .ico img,
.tim_sub .player .ico img {
	height: 100%;
	float: left;
}
.tim_nama {
	background: #192903;
	color: #fff;
	padding: 10px 20px;
	margin: 0;
}
.tim_nama .tim_color {
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 10px;
	border-radius: 100%;
}
.tim_nama .tim_color2 {
	float: right;
}
.tim_nama .tim_color  input {
	height: 40px;
	width: 40px;
}
.tim_nama .tim_color .simpleColorDisplay {
	height: 40px !important;
	width: 40px !important;
	border-radius: 100%;
	overflow: hidden;
	border: 4px solid #fff !important;

}
.tim_nama .tim_color2 .simpleColorDisplay {
	margin-left: 10px;
}
.tim_color .simpleColorChooser {
	left: 50px !important;
}
.tim_color2 .simpleColorChooser {
	left: -280px !important;
}
.tim_nama .input_nama_tim {
	border:0;
	width: calc(50% - 110px);
	font-family: bebasff, Helvetica, arial;
	font-size: 24px;
	outline: none;
	background: none;
	float: left;
	color: #fff;
	margin: 0 5px;
}
.tim_nama .input_nama_coach {
	border:0;
	width: calc(50% - 100px);
	font-family: bebasff, Helvetica, arial;
	font-size: 12px;
	outline: none;
	background: none;
	float: left;
	color: #fff;
	margin-left: 55px;
	position: relative;
	float: left;
	margin-top: -15px;
}
.tim_nama .input_nama_coach2 {
	float: right;
	text-align: right;
	margin-left: 0;
	margin-right: 52px;
}
.tim_nama .input_nama_tim2 {
	text-align: right;
}
.tim_nama .vs {
	width: 60px;
	background: #ffea00;
	color: #000;
	float: left;
	line-height: 45px;
	padding-top: 13px;
	font-size: 26px;
	text-align: center;
	margin: 0 20px;
	border-radius: 100%;
	font-weight: bold;
}
.tim_nama .skor {
	height: 40px;
	border-radius: 5px;
	line-height: 40px;
	padding-top: 0;
	letter-spacing: 5px;
}
.tim .player .ico,
.tim_sub .player .ico {
	position: absolute;
	height: 20px;
	top: -2px;
	left: 25px;
	z-index: 11;
	width: 60px;
} 
.tim .player .ico img,
.tim_sub .player .ico img {
	height: 100%;
	float: left;
}
.tim_sub {
	position: relative;
}
.tim_sub .player .ico {
	left: 25px;
}
.view_player.pn1b {
  left:calc(100% - 240px) !important;
}
.tim_penalti .tim_sub1,
.tim_penalti .tim_sub2 {
	float: left;
	width: 50%;
}
.tim_penalti .tim_sub2 .player {
	float: right;
}
.title_penalti {
	text-align: center;
	color: #fff;
	border-top: 1px solid #fff;
	padding-top: 10px;
	margin-top: 5px;
}



@media screen and (max-width: 750px) {
	.tim_sub .player {
		width: 35px;
	}
	.tim_sub .player .bullet {
		width: 20px;
		height: 20px;
		font-size: 10px;
		line-height: 20px;
	}
	.tim .player, .tim_sub .player .bullet span {
		font-size: 12px;
		line-height: 20px;
	}
}
@media screen and (max-width: 425px) {
	body {
		overflow-x: hidden;
	}
	.pitch {
		padding: 10px;
		overflow-x: hidden;
		width: calc(100% - 20px);
	}
	.pitch .line {
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
		width: calc(179% - 20px);
	    margin: 0 10px;
	    padding-top: 99.25%;
	    margin-left: -37%;
	    margin-top: 43%;
	    position: relative;
	}
	.pitch .line .line_ratio {
		background-size:cover; 
	}
	#tf2 .player,
	#tf1 .player,
	.view_player {
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
	}
	.view_player {
		width: 150px;
		height: 42px;
	}
	.view_player .pic {
		width: 40px;
		height: 40px;
	}
	.view_player h3 {
		font-size:10px;
	}
	.view_player h4 {
		font-size: 9px;
	}
	.view_player h5 {
		font-size: 9px;
	}
	.view_player h6 {
		font-size: 9px;
	}
	.tim .player strong, .tim_sub .player strong {
		font-size: 11px;
	}
	.tim_sub {
		margin-top: 41%;
	}
	.tim_sub .tim_sub1,
	.tim_sub .tim_sub2 {
		float: left;
		width: 50%;
	}
	.tim_sub2 .player {
		float: right;
	}
	.tboard .tboard1 img {
		width: 90%;
	}
	.tim2,
	.tim1 {
		margin-top: -10px;
	}
	.tim_nama {
		padding: 10px;
	}
	.tim_nama .tim_color input,
	.tim_nama .tim_color {
		width: 30px;
		height: 30px;
		margin: 0;
	}
	.tim_nama .skor {
		width: 40px;
		padding-left: 5px;
		font-size: 20px;
		margin:0 5px;
		height: 30px;
		line-height: 30px;
	}
	.tim_nama .input_nama_tim {
		width: calc(50% - 66px);
		font-size: 20px;
		margin: 0 3px;
	}
	.tim_nama .input_nama_coach {
		margin-left: 34px;
		width: calc(50% - 40px);
		font-size: 10px;
		padding-top: 5px;
	}
	.tim_nama .input_nama_coach2 {
		margin-right: 34px;
		font-size: 10px;
	}
}

