body {
  padding: 0;
  margin: 0;
  font-family: ffOpenSans, helvetica, arial;
  width: 100%;
  height: 100%;
  font-size: 16px;
}


#header {
  position: fixed;
  z-index: 2;
  background-color: rgba(19,195,127,0.9);
  width: 100%;
  height: 60px;
}
.header_cover {
  position: absolute !important;
  background: none !important;
  z-index: 3 !important;
}
#header .menu_share {
  display: none;
}
#header .nav_menu {
  position: absolute;
  right: 200px;
}
#header .nav_menu a {
  display: inline-block;
  padding: 21px 20px;
  font-family: futuraff, helvetica, arial;
  color:#fff;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
}
#header .nav_menu a:hover {
  background-color: #12a86e;
}

.header_cover .nav_menu {
  right: 20px !important;
}

.arrow_top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 3000;
  height: 65px;
  opacity: 0.5;
  cursor: pointer;
}
.arrow_top img {
  height: 100%;
}
.arrow_top:hover {
  opacity: 1;
}
#header .share img {
  height: 40px;
  padding: 8px 0;
}
#header .nav a {
  padding: 2px;
  float: left;
}
#header .nav .fab {
  border-left:1px solid rgba(255,255,255,0.3);
  padding: 8px;
  margin-top: 5px;
}
#header .nav img {
  position: relative;
  height: 40px;
  margin: 10px 20px;
}

#position-block {
  position: fixed;
  z-index: 1000;
  color: white;
}
.logo_top {
  display: inline-block;
  margin: 30px 0;
}
.title_logo {
  display: inline-block;
  margin: 30px 0;
}
.index_menu {
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(0,0,0,0.6);
  width: 60px;
  display: inline-block;
  text-align: center;
  padding: 3px;
}

.container {
  width: 1000px;
  margin: 0 auto;
  padding-top: 70px;
  text-align: center;
}

h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 69px;
  line-height: 78px;
  padding: 20px 0px 10px 20px;
  margin: 0;
}
.jdl {
  font-family: futuraff, helvetica, arial;
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: -1px;
}

.btn_go {
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid #fff;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  z-index: 999999;
}
.btn_go:hover {
  background: rgba(255,255,255,0.2);
}

.panel {
  position: relative;
  width: 100%;
}
.cover {
  position: absolute;
  z-index: 3;
  color: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(../images/bg_wp.png);
  background-size: cover;
}

#videowelcome {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.7;
  z-index: 1;
}
.layer_welcome {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  font-family: futuraff, helvetica, arial;
  text-transform: uppercase;
}

.btn_next {
  color: #fff;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  font-size: 1.2em;
  vertical-align: middle;
  text-align: center;
  z-index: 999999;
  padding: 10px 30px 12px;
  border: 1px solid #fff;
  margin-top: 50px;
}
.btn_next:hover {
  background: rgba(255,255,255,0.5);
}
.btn_next span {
  display: inline-block;
  line-height: 100%;
  vertical-align: middle;
}
.btn_next2 {
  background-color: rgba(0,0,0,0.4);
}
.btn_next2:hover {
  background-color: rgba(0,0,0,0.7);
}
.share {
  position: absolute;
  bottom: 0;
  right: 10px;
  padding-left: 15px;
}
.share_wp {
  padding: 20px;
  right: 0;
}
.share a {
  text-decoration: none;
  opacity: 0.6;
}
.share a:hover {
  opacity: 1;
}
.wp_content {
  top: 100%;
  position: absolute;
  width: 100%;
}
.wp_content article {
  min-height: 700px;
  position: relative;
}
.wp_content article:nth-child(even){
  background: #f2f2f2;
}




.list_1 {
  width: calc(25% - 40px);
  margin: 10px 20px;
  float: left;
  text-align: center;
  font-size: 14px;
}
.list_1-3 {
  width: calc(33% - 60px);
  margin: 10px 30px;
}
.list_1 h3 {
  font-family: futuraff, helvetica, arial;
  font-size: 18px;
  padding: 10px 0;
  text-transform: uppercase;
}
.list_1 .pic_create {
  width: 100%;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
}
.preview {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  overflow: hidden;
  bottom: -10px;
}
.preview img {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}
.joinnow {
  background-color: #13c37f;
  padding: 15px 30px;
  font-family: futuraff, helvetica, arial;
  color:#fff;
  text-decoration: none;
  font-size: 18px;
}


.form {
  width: 350px;
  margin: 0 auto;
}
.form .input {
  display: block;
  border: 0;
  background: #f3f3f3;
  margin-top: 3px;
  margin-bottom: 10px;
  width: calc(100% - 20px);
  font-family: helvetica, arial;
  font-size: 15px;
  color: #5d5c5c;
  padding: 15px 10px;
}
.form strong {
  font-family: futuraff, helvetica, arial;
  display: block;
  text-align: left;
  text-transform: uppercase;
  color: #5d5c5c;
  margin-top: 10px;
}
.form .btn {
  border: 0;
  background-color: #13c37f;
  padding: 15px 0;
  font-family: futuraff, helvetica, arial;
  color:#fff;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  width: 100%;
}
.form a {
  color: #13c37f;
  text-decoration: none;
  margin-bottom: 5px;
}
.form a:hover {
  text-decoration: underline;
}


/*.slide_work {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: left;
}*/
/*.slide_work ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.slide_work ul li {
  float: left;
  padding-top: 200px;
}
.slide_work .isi {
  left: 0;
  width: 40%;
  position: absolute;
  padding-top: 30px;
}
.slide_work .isi h3 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 15px;
}
.slide_work .gam {
  width: 60%;
  position: absolute;
  right: 0;
}
.slide_work .gam img {
  width: 100%;
}*/
.slide_work {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 20px;
}
.slide_work ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.slide_work ul li {
  float: left;
  position: relative;
  overflow: hidden;
}
.slide_work .isi {
  width: 50%;
  padding-top: 30px;
  float: left;
}
.slide_work .isi .pd30 {
  padding: 30px 50px;
}
.slide_work .isi h3 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 15px;
}
.slide_work .gam {
  width: 50%;
  float: left;
}
.slide_work .gam img {
  width: 100%;
  display: block;
  margin-left: 30px;
}

.slide_work ul li.sw_left .isi,
.slide_work ul li.sw_left .gam{
  float: right !important;
}
.slide_work ul li.sw_left .gam img {
  margin-left: -30px;
}
.paging_slide {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.paging_slide a span {
  display: none;
}
.paging_slide a {
  display: inline-block;
  border-radius: 50px;
  width: 12px;
  height: 12px;
  background: none;
  border: 1px solid #ccc;
  margin-right: 3px;
  cursor: pointer;
  background: #fff;
  position: relative;
  z-index: 5;
}
.paging_slide a.selected {
  background: rgba(19,195,127,1);
  border-color: rgba(19,195,127,1);
}
.paging_slide a:hover {
  border-color: rgba(19,195,127,1);
}
.slide_work_arr {
  position: absolute;
  top: 60%;
  z-index: 4;
  background: rgba(0,0,0,0.2);
  padding: 10px 0;
  width: 50px;
  cursor: pointer;
}
.slide_work_arr img {
  width: 100%;
}
.slide_work_arr:hover {
  background: rgba(0,0,0,0.8);
}
.slide_work_arr_r {
  right: 0;
}

.tes_slide {
  list-style: none;
  padding: 0;
  margin: 0
}
.tes_slide li {
  float: left;
}
.wp_cover {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
}










