#tf1.f3412 .player:nth-child(1) {
	left: 0;
	top: 44%; 
}
#tf1.f3412 .player:nth-child(2) {
	left: 10%;
	top: 22%; 
}
#tf1.f3412 .player:nth-child(3) {
	left: 10%;
	top: 44%; 
}
#tf1.f3412 .player:nth-child(4) {
	left: 10%;
	top: 66%; 
}
#tf1.f3412 .player:nth-child(5) {
	left: 25%;
	top: 10%; 
}
#tf1.f3412 .player:nth-child(6) {
	left: 20%;
	top: 30%;
}
#tf1.f3412 .player:nth-child(7) {
	left: 20%;
	top: 55%;
}
#tf1.f3412 .player:nth-child(8) {
	left: 25%;
	top: 75%;
}
#tf1.f3412 .player:nth-child(9) {
	left: 30%;
	top: 44%;
}
#tf1.f3412 .player:nth-child(10) {
	left: 40%;
	top: 30%;
}
#tf1.f3412 .player:nth-child(11) {
	left: 40%;
	top: 60%;
}



#tf2.f3412 .player:nth-child(1) {
	right: 0;
	top: 44%; 
}
#tf2.f3412 .player:nth-child(2) {
	right: 10%;
	top: 22%;
}
#tf2.f3412 .player:nth-child(3) {
	right: 10%;
	top: 44%;
}
#tf2.f3412 .player:nth-child(4) {
	right: 10%;
	top: 66%; 
}
#tf2.f3412 .player:nth-child(5) {
	right: 25%;
	top: 10%; 
}
#tf2.f3412 .player:nth-child(6) {
	right: 20%;
	top: 30%;
}
#tf2.f3412 .player:nth-child(7) {
	right: 20%;
	top: 55%;
}
#tf2.f3412 .player:nth-child(8) {
	right: 25%;
	top: 75%;
}
#tf2.f3412 .player:nth-child(9) {
	right: 30%;
	top: 44%;
}
#tf2.f3412 .player:nth-child(10) {
	right: 40%;
	top: 30%;
}
#tf2.f3412 .player:nth-child(11) {
	right: 40%;
	top: 60%;
}
