#tf1.f4411 .player:nth-child(1) {
	left: 0;
	top: 44%; 
}
#tf1.f4411 .player:nth-child(2) {
	left: 10%;
	top: 10%; 
}
#tf1.f4411 .player:nth-child(3) {
	left: 10%;
	top: 33%; 
}
#tf1.f4411 .player:nth-child(4) {
	left: 10%;
	top: 55%; 
}
#tf1.f4411 .player:nth-child(5) {
	left: 10%;
	top: 75%; 
}
#tf1.f4411 .player:nth-child(6) {
	left: 24%;
	top: 10%;
}
#tf1.f4411 .player:nth-child(7) {
	left: 24%;
	top: 33%;
}
#tf1.f4411 .player:nth-child(8) {
	left: 24%;
	top: 55%;
}
#tf1.f4411 .player:nth-child(9) {
	left: 24%;
	top: 75%;
}
#tf1.f4411 .player:nth-child(10) {
	left: 33%;
	top: 44%;
}
#tf1.f4411 .player:nth-child(11) {
	left: 40%;
	top: 44%;
}



#tf2.f4411 .player:nth-child(1) {
	right: 0;
	top: 44%; 
}
#tf2.f4411 .player:nth-child(2) {
	right: 10%;
	top: 10%;
}
#tf2.f4411 .player:nth-child(3) {
	right: 10%;
	top: 33%;
}
#tf2.f4411 .player:nth-child(4) {
	right: 10%;
	top: 55%; 
}
#tf2.f4411 .player:nth-child(5) {
	right: 10%;
	top: 75%; 
}
#tf2.f4411 .player:nth-child(6) {
	right: 24%;
	top: 10%;
}
#tf2.f4411 .player:nth-child(7) {
	right: 24%;
	top: 33%;
}
#tf2.f4411 .player:nth-child(8) {
	right: 24%;
	top: 55%;
}
#tf2.f4411 .player:nth-child(9) {
	right: 24%;
	top: 75%;
}
#tf2.f4411 .player:nth-child(10) {
	right: 33%;
	top: 44%;
}
#tf2.f4411 .player:nth-child(11) {
	right: 40%;
	top: 44%;
}
